.footer {
	font-family: $f-stack-sans;

	.block-subscribe {
		width: auto;
		padding: 0;
	}
	.button {
		padding: 7px 10px;
	}
	.block-title {
		font-family: $f-stack-special;
	}

	.footer-awards {
		padding-top: 20px;
		border-top: 1px solid $c-module-border-light;
		.awards-inner {
			float: right;
		}
	}

	address {
		margin-top: 10px;
		padding: 20px 0;
	}
}
