.postTitle {
  .featuredImage {
    min-width: 100%;
    max-width: 100%;
    margin-top: 10px;
  }
}

/*
.std {
  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    p {
      display: inline;
    }
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
}
*/

.std {
  blockquote{
    display:block;
    background: #fff;
    padding: 15px 20px 15px 45px;
    margin: 0 0 20px;
    position: relative;

    /*Font*/
    text-align: justify;
    font-size: 19px;

    /*Borders - (Optional)*/
    border-left: 15px solid $c-highlight;
    border-right: 2px solid $c-highlight;

    /*Box Shadow - (Optional)*/
    -moz-box-shadow: 2px 2px 10px #ccc;
    -webkit-box-shadow: 2px 2px 10px #ccc;
    box-shadow: 2px 2px 15px #ccc;
    
    strong {
      font-weight: bold;
    }
    p {
      margin-bottom: 0;
    }
  }

  blockquote::before{
    content: "\201C"; /*Unicode for Left Double Quote*/

    /*Font*/
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #999;

    /*Positioning*/
    position: absolute;
    left: 10px;
    top: 0;
  }

  blockquote::after{
    /*Reset to make sure*/
    content: "";
  }

}
